body {
    background-color: #8be0f3;
    font-family: 'Comic Sans MS', 'Chalkboard SE', sans-serif;
    margin: 0;
    padding: 20px;
    display: flex;
    justify-content: center;
}

/* Centers the quiz box on screen */
.screen {
    display: none; /* Hides screens by default */
    width: 100%;
    max-width: 600px;
    margin-top: 40px;
}

.active {
    display: block; /* Shows only the active screen */
}

h1 {
    font-size: 40px;
    margin-bottom: 25px;
}

/* Welcome Screen Elements */
.input-group {
    margin-bottom: 25px;
    font-size: 20px;
}

input {
    font-size: 18px;
    padding: 8px;
    border: 2px solid #000;
    border-radius: 8px;
    margin-left: 10px;
}

.start-btn {
    background-color: #b5f5b5;
    border: 2px solid #000;
    border-radius: 20px;
    padding: 15px 50px;
    font-size: 24px;
    cursor: pointer;
    font-weight: bold;
}

/* Quiz Screen Elements */
.quiz-header {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 30px;
}

#question-text {
    font-size: 28px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 30px;
}

.options-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    margin-bottom: 40px;
}

.option-box {
    width: 100%;
    max-width: 400px;
    padding: 12px;
    background-color: #fff;
    border: 2px solid #000;
    border-radius: 4px;
    text-align: center;
    font-size: 20px;
    cursor: pointer;
    box-shadow: 2px 2px 0px #000;
    transition: background-color 0.1s;
}

/* Visual feedback when selected */
.option-box.selected {
    background-color: #fffb96;
}

.next-btn {
    width: 100%;
    max-width: 400px;
    background-color: #fff;
    border: 2px solid #000;
    padding: 12px;
    font-size: 20px;
    cursor: pointer;
    display: block;
    margin: 0 auto;
    text-align: center;
    box-shadow: 2px 2px 0px #000;
}

#final-score-text {
    font-size: 24px;
    margin-top: 10px;
}
